* {
  list-style-type: none;
}

h1,
form,
label {
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

label {
  font-size: x-small;
}

h1 {
  text-align: center;
  font-size: medium;
  color: #ec5d57;
}
