* {
  list-style-type: none;
}

body {
  width: 300px;
  margin: 0 auto;
}

h1 {
  font-size: medium;
  color: #ec5d57;
}

h1,
form,
label {
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

label {
  font-size: small;
  padding-left: 0.5rem;
}

input {
  font-size: medium;
  color: #a6a6a6;
  padding: 0.5rem;
}

input,
select {
  width: 29rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-color: lightgray;
}
