.container {
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-family: Barlow, sans-serif;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.column-full {
  text-align: center;
}

.column-fourth {
  text-align: center;
}

.phone-image img {
  display: block;
  margin: auto;
  width: 100%;
}

.icon img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  z-index: -1;
}
