* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: Barlow, sans-serif;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

.column-fourth {
  flex-basis: 25%;
  text-align: center;
}

.phone-image,
.icon img {
  margin: 0 auto;
  width: 100px;
}

.phone-image,
.icon {
  display: flex;
  justify-content: center;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  z-index: -1;
}

h2 {
  font-weight: bolder;
}

p {
  font-size: 1.3rem;
  line-height: 5rem;
}

h2,
p {
  margin: 0 auto;
}
